<a href="https://colab.research.google.com/github/Francisco-Italo/ml2023-Italo-Moraes/blob/master/Atividades/01-Pre-processamento_Limpeza_Analise_de_Dados/05_Lidando_com_dados_faltantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5 - Lidando com dados faltantes

## Identificando valores faltantes em dados tabulares
Vamos iniciar nosso estudo identificando dados faltantes em tabelas.

In [ ]:
import pandas as pd
# NaN -> Dado nulo
df = pd.read_csv('/content/missing.csv')
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [ ]:
# Retorna a soma dos valores nulos por coluna do dataframe
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [ ]:
# Cria um array numpy com todos os valores do DataFrame
df.values

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6., nan,  8.],
       [10., 11., 12., nan]])

## Eliminando amostras ou *features* com valores ausentes

In [ ]:
# Remove colunas que contém valores faltantes no eixo desejado
# 0 -> linha | 1 -> coluna

df.dropna(axis=0)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [ ]:
# Removendo colunas que contém valores faltantes
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [ ]:
df.dropna(axis=0)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [ ]:
# "Drop" apenas nas linhas onde todas as colunas são NaN

df.dropna(how='all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [ ]:
# Removendo linhas que possuem menos de 3 valores reais

df.dropna(thresh=4)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [ ]:
df.dropna(thresh=3)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [ ]:
# Remove apenas linhas onde NaN aparece em uma coluna específica

df.dropna(subset=['C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

In [ ]:
df.dropna(subset=['D'])

     A    B    C    D
0  1.0  2.0  3.0  4.0
1  5.0  6.0  NaN  8.0

In [ ]:
df.dropna(subset=['A'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN